$color_gray_dark: #464547;
$color_gray_dark-2: #999999;
$color_gray_medium-1: #b6b6b6;
$color_gray_medium-2: #c0c0c0;
$color_gray_medium-3: #ccc;
$color_gray_light-1: #e6e6e6;
$color_gray_light-2: #f5f5f5;
$color_white: #ffffff;
$color_black: #000;
$color_light_blue: #0082ea;
$color_red: #ff0000;
$color_red_dark: #cb0707;
$color_yellow: #FFC000;
$color_green_medium: #568d06;
$color_green_dark: #4b7a05;

$main-header_text-color: $color_white;

$map-page_tabs-background-color: $color_white;

$disclamer-background-color: #FFFF00FF;
$visitors-table_note-background: #ffe251;

$box-shadow-color: #00000045;
$box-shadow-color_1: rgba(0, 0, 0, 0.8);

$border_solid_gray: 1px solid #ccc;

$lime_green: #c9db48;
$coral: #f15c43;

$notification_success: rgba(36, 150, 45, 0.85);
$notification_error: rgba(255, 75, 75, 0.85);
